.idea
.gradle
local.properties
.classpath
.project
.settings
__pycache__
aosp/bouncycastle/bcpkix/bin/
aosp/bouncycastle/bcprov/bin/
aosp/bouncycastle/bcpkix/build/
aosp/bouncycastle/bcprov/build/
aosp/apksigner/build/
aosp/boot_signer/build/
aosp/libavb1.1/build/
aosp/libavb1.2/build/
helper/build/
lazybox/build/
avbImpl/build/
bbootimg/build/
